<template>
  <div id="app" class="center-align">
    <HelloWorld msg="Ma première application avec Vue.js" />
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue"

export default {
  name: "app",
  components: {
    HelloWorld
  }
};
</script>
