<template>
  <div class="container" id="app">
    <div class="row justify-content-center text-center">
      <div class="col text-center">
        <img alt="Vue logo" src="./assets/tva.png">
        <Tva msg="Calcul de la Tva"/>
      </div>
    </div>
  </div>
</template>
<script>

import Tva from './components/Tva.vue'
export default {
  name: 'app',
  components: {
    Tva
  }
}
</script>

<style>

</style>
