<template>
  <div>
    <h1 class="text-nowrap">{{ msg }}</h1>
    <div class="jumbotron">
      <div class="row col input-group mb-3 mx-auto">
        <input v-model.number="valeurHT" type="text" class="form-control" />
        <div class="input-group-append">
          <span class="input-group-text">€ HT</span>
        </div>
      </div>
      <div class="row col mb-3 mx-auto">
        Taux :
        <div class="form-check form-check-inline ml-2">
          <input
            class="form-check-input"
            value="0.2"
            v-model.number="taux"
            type="radio"
            name="tva"
            id="20"
            checked
          />
          <label class="form-check-label" for="20">20 %</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            value="0.1"
            v-model.number="taux"
            type="radio"
            name="tva"
            id="10"
          />
          <label class="form-check-label" for="10">10 %</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            value="0.055"
            v-model.number="taux"
            type="radio"
            name="tva"
            id="55"
          />
          <label class="form-check-label" for="55">5,5 %</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            value="0.021"
            v-model.number="taux"
            type="radio"
            name="tva"
            id="21"
          />
          <label class="form-check-label" for="21">2,1 %</label>
        </div>
      </div>
      <div class="row col res">
        Montant TTC :
        <strong>{{ valeurTTC | currency }}</strong>
      </div>
      <div class="row col res">
        Montant de la TVA :
        <strong>{{ valeurTVA | currency }}</strong>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Tva",
  props: {
    msg: String
  },
  data: function() {
    return {
      valeurHT: 0,
      taux: "0.2"
    };
  },
  computed: {
    valeurTTC: function() {
      return parseFloat(this.valeurHT + this.valeurHT * this.taux).toFixed(2);
    },
    valeurTVA: function() {
      return parseFloat(this.valeurHT * this.taux).toFixed(2);
    }
  }
};
</script>

<style scoped>
.jumbotron {
  margin: 2rem auto;

  padding: 2rem 1rem;
  width: 75%;
}
.res strong {
  padding-left: 10px;
}
</style>
